/* assets/css/hobbies.css */

.hobby-content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 2rem;
}

.hobby-content img {
  width: 200px;
  border-radius: 10px;
  flex-shrink: 0;
}

.hobby-text {
  flex: 1;
  min-width: 250px;
}
